In [3]:
import pandas as pd
pd.read_csv('bigmac.csv')

       Date         Country  Price in US Dollars
0    1/2016       Argentina                 2.39
1    1/2016       Australia                 3.74
2    1/2016          Brazil                 3.35
3    1/2016         Britain                 4.22
4    1/2016          Canada                 4.14
5    1/2016           Chile                 2.94
6    1/2016           China                 2.68
7    1/2016        Colombia                 2.43
8    1/2016      Costa Rica                 4.02
9    1/2016  Czech Republic                 2.98
10   1/2016         Denmark                 4.32
11   1/2016           Egypt                 2.16
12   1/2016       Euro area                 4.00
13   1/2016       Hong Kong                 2.48
14   1/2016         Hungary                 3.08
15   1/2016           India                 1.90
16   1/2016       Indonesia                 2.19
17   1/2016          Israel                 4.29
18   1/2016           Japan                 3.12
19   1/2016        Malaysia                 1.82
20   1/2016          Mexico                 2.81
21   1/2016     New Zealand                 3.91
22   1/2016          Norway                 5.21
23   1/2016        Pakistan                 2.86
24   1/2016            Peru                 2.93
25   1/2016     Philippines                 2.79
26   1/2016          Poland                 2.37
27   1/2016          Russia                 1.53
28   1/2016    Saudi Arabia                 3.20
29   1/2016       Singapore                 3.27
..      ...             ...                  ...
622  1/2010       Hong Kong                 1.91
623  1/2010         Hungary                 3.86
624  1/2010       Indonesia                 2.24
625  1/2010          Israel                 3.99
626  1/2010           Japan                 3.50
627  1/2010          Latvia                 3.09
628  1/2010       Lithuania                 2.87
629  1/2010        Malaysia                 2.08
630  1/2010          Mexico                 2.50
631  1/2010     New Zealand                 3.61
632  1/2010          Norway                 7.02
633  1/2010        Pakistan                 2.42
634  1/2010            Peru                 2.81
635  1/2010     Philippines                 2.21
636  1/2010          Poland                 2.86
637  1/2010          Russia                 2.34
638  1/2010    Saudi Arabia                 2.67
639  1/2010       Singapore                 3.19
640  1/2010    South Africa                 2.46
641  1/2010     South Korea                 2.98
642  1/2010       Sri Lanka                 1.83
643  1/2010          Sweden                 5.51
644  1/2010     Switzerland                 6.30
645  1/2010          Taiwan                 2.36
646  1/2010        Thailand                 2.11
647  1/2010          Turkey                 3.83
648  1/2010             UAE                 2.99
649  1/2010         Ukraine                 1.83
650  1/2010   United States                 3.58
651  1/2010         Uruguay                 3.32

[652 rows x 3 columns]

In [4]:
import pandas as pd
bigmac = pd.read_csv('bigmac.csv', parse_dates=['Date'])
bigmac.head()

        Date    Country  Price in US Dollars
0 2016-01-01  Argentina                 2.39
1 2016-01-01  Australia                 3.74
2 2016-01-01     Brazil                 3.35
3 2016-01-01    Britain                 4.22
4 2016-01-01     Canada                 4.14

In [5]:
bigmac.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 652 entries, 0 to 651
Data columns (total 3 columns):
Date                   652 non-null datetime64[ns]
Country                652 non-null object
Price in US Dollars    652 non-null float64
dtypes: datetime64[ns](1), float64(1), object(1)
memory usage: 15.4+ KB

# creating multiindex with .set_index() Method

In [7]:
bigmac.head()

        Date    Country  Price in US Dollars
0 2016-01-01  Argentina                 2.39
1 2016-01-01  Australia                 3.74
2 2016-01-01     Brazil                 3.35
3 2016-01-01    Britain                 4.22
4 2016-01-01     Canada                 4.14

In [8]:
bigmac.set_index('Date')

                   Country  Price in US Dollars
Date
2016-01-01       Argentina                 2.39
2016-01-01       Australia                 3.74
2016-01-01          Brazil                 3.35
2016-01-01         Britain                 4.22
2016-01-01          Canada                 4.14
2016-01-01           Chile                 2.94
2016-01-01           China                 2.68
2016-01-01        Colombia                 2.43
2016-01-01      Costa Rica                 4.02
2016-01-01  Czech Republic                 2.98
2016-01-01         Denmark                 4.32
2016-01-01           Egypt                 2.16
2016-01-01       Euro area                 4.00
2016-01-01       Hong Kong                 2.48
2016-01-01         Hungary                 3.08
2016-01-01           India                 1.90
2016-01-01       Indonesia                 2.19
2016-01-01          Israel                 4.29
2016-01-01           Japan                 3.12
2016-01-01        Malaysia                 1.82
2016-01-01          Mexico                 2.81
2016-01-01     New Zealand                 3.91
2016-01-01          Norway                 5.21
2016-01-01        Pakistan                 2.86
2016-01-01            Peru                 2.93
2016-01-01     Philippines                 2.79
2016-01-01          Poland                 2.37
2016-01-01          Russia                 1.53
2016-01-01    Saudi Arabia                 3.20
2016-01-01       Singapore                 3.27
...                    ...                  ...
2010-01-01       Hong Kong                 1.91
2010-01-01         Hungary                 3.86
2010-01-01       Indonesia                 2.24
2010-01-01          Israel                 3.99
2010-01-01           Japan                 3.50
2010-01-01          Latvia                 3.09
2010-01-01       Lithuania                 2.87
2010-01-01        Malaysia                 2.08
2010-01-01          Mexico                 2.50
2010-01-01     New Zealand                 3.61
2010-01-01          Norway                 7.02
2010-01-01        Pakistan                 2.42
2010-01-01            Peru                 2.81
2010-01-01     Philippines                 2.21
2010-01-01          Poland                 2.86
2010-01-01          Russia                 2.34
2010-01-01    Saudi Arabia                 2.67
2010-01-01       Singapore                 3.19
2010-01-01    South Africa                 2.46
2010-01-01     South Korea                 2.98
2010-01-01       Sri Lanka                 1.83
2010-01-01          Sweden                 5.51
2010-01-01     Switzerland                 6.30
2010-01-01          Taiwan                 2.36
2010-01-01        Thailand                 2.11
2010-01-01          Turkey                 3.83
2010-01-01             UAE                 2.99
2010-01-01         Ukraine                 1.83
2010-01-01   United States                 3.58
2010-01-01         Uruguay                 3.32

[652 rows x 2 columns]

In [10]:
bigmac.set_index(keys=['Date', 'Country'])

                           Price in US Dollars
Date       Country
2016-01-01 Argentina                      2.39
           Australia                      3.74
           Brazil                         3.35
           Britain                        4.22
           Canada                         4.14
           Chile                          2.94
           China                          2.68
           Colombia                       2.43
           Costa Rica                     4.02
           Czech Republic                 2.98
           Denmark                        4.32
           Egypt                          2.16
           Euro area                      4.00
           Hong Kong                      2.48
           Hungary                        3.08
           India                          1.90
           Indonesia                      2.19
           Israel                         4.29
           Japan                          3.12
           Malaysia                       1.82
           Mexico                         2.81
           New Zealand                    3.91
           Norway                         5.21
           Pakistan                       2.86
           Peru                           2.93
           Philippines                    2.79
           Poland                         2.37
           Russia                         1.53
           Saudi Arabia                   3.20
           Singapore                      3.27
...                                        ...
2010-01-01 Hong Kong                      1.91
           Hungary                        3.86
           Indonesia                      2.24
           Israel                         3.99
           Japan                          3.50
           Latvia                         3.09
           Lithuania                      2.87
           Malaysia                       2.08
           Mexico                         2.50
           New Zealand                    3.61
           Norway                         7.02
           Pakistan                       2.42
           Peru                           2.81
           Philippines                    2.21
           Poland                         2.86
           Russia                         2.34
           Saudi Arabia                   2.67
           Singapore                      3.19
           South Africa                   2.46
           South Korea                    2.98
           Sri Lanka                      1.83
           Sweden                         5.51
           Switzerland                    6.30
           Taiwan                         2.36
           Thailand                       2.11
           Turkey                         3.83
           UAE                            2.99
           Ukraine                        1.83
           United States                  3.58
           Uruguay                        3.32

[652 rows x 1 columns]

In [11]:
bigmac.set_index(keys=['Country', 'Date'])

                           Price in US Dollars
Country        Date
Argentina      2016-01-01                 2.39
Australia      2016-01-01                 3.74
Brazil         2016-01-01                 3.35
Britain        2016-01-01                 4.22
Canada         2016-01-01                 4.14
Chile          2016-01-01                 2.94
China          2016-01-01                 2.68
Colombia       2016-01-01                 2.43
Costa Rica     2016-01-01                 4.02
Czech Republic 2016-01-01                 2.98
Denmark        2016-01-01                 4.32
Egypt          2016-01-01                 2.16
Euro area      2016-01-01                 4.00
Hong Kong      2016-01-01                 2.48
Hungary        2016-01-01                 3.08
India          2016-01-01                 1.90
Indonesia      2016-01-01                 2.19
Israel         2016-01-01                 4.29
Japan          2016-01-01                 3.12
Malaysia       2016-01-01                 1.82
Mexico         2016-01-01                 2.81
New Zealand    2016-01-01                 3.91
Norway         2016-01-01                 5.21
Pakistan       2016-01-01                 2.86
Peru           2016-01-01                 2.93
Philippines    2016-01-01                 2.79
Poland         2016-01-01                 2.37
Russia         2016-01-01                 1.53
Saudi Arabia   2016-01-01                 3.20
Singapore      2016-01-01                 3.27
...                                        ...
Hong Kong      2010-01-01                 1.91
Hungary        2010-01-01                 3.86
Indonesia      2010-01-01                 2.24
Israel         2010-01-01                 3.99
Japan          2010-01-01                 3.50
Latvia         2010-01-01                 3.09
Lithuania      2010-01-01                 2.87
Malaysia       2010-01-01                 2.08
Mexico         2010-01-01                 2.50
New Zealand    2010-01-01                 3.61
Norway         2010-01-01                 7.02
Pakistan       2010-01-01                 2.42
Peru           2010-01-01                 2.81
Philippines    2010-01-01                 2.21
Poland         2010-01-01                 2.86
Russia         2010-01-01                 2.34
Saudi Arabia   2010-01-01                 2.67
Singapore      2010-01-01                 3.19
South Africa   2010-01-01                 2.46
South Korea    2010-01-01                 2.98
Sri Lanka      2010-01-01                 1.83
Sweden         2010-01-01                 5.51
Switzerland    2010-01-01                 6.30
Taiwan         2010-01-01                 2.36
Thailand       2010-01-01                 2.11
Turkey         2010-01-01                 3.83
UAE            2010-01-01                 2.99
Ukraine        2010-01-01                 1.83
United States  2010-01-01                 3.58
Uruguay        2010-01-01                 3.32

[652 rows x 1 columns]

In [12]:
bigmac.set_index(keys=['Date', 'Country'], inplace=True)

In [13]:
bigmac.head()

                      Price in US Dollars
Date       Country
2016-01-01 Argentina                 2.39
           Australia                 3.74
           Brazil                    3.35
           Britain                   4.22
           Canada                    4.14

In [14]:
bigmac.sort_index()

                           Price in US Dollars
Date       Country
2010-01-01 Argentina                      1.84
           Australia                      3.98
           Brazil                         4.76
           Britain                        3.67
           Canada                         3.97
           Chile                          3.18
           China                          1.83
           Colombia                       3.91
           Costa Rica                     3.52
           Czech Republic                 3.71
           Denmark                        5.99
           Egypt                          2.38
           Euro area                      4.84
           Hong Kong                      1.91
           Hungary                        3.86
           Indonesia                      2.24
           Israel                         3.99
           Japan                          3.50
           Latvia                         3.09
           Lithuania                      2.87
           Malaysia                       2.08
           Mexico                         2.50
           New Zealand                    3.61
           Norway                         7.02
           Pakistan                       2.42
           Peru                           2.81
           Philippines                    2.21
           Poland                         2.86
           Russia                         2.34
           Saudi Arabia                   2.67
...                                        ...
2016-01-01 Italy                          4.30
           Japan                          3.12
           Malaysia                       1.82
           Mexico                         2.81
           Netherlands                    3.71
           New Zealand                    3.91
           Norway                         5.21
           Pakistan                       2.86
           Peru                           2.93
           Philippines                    2.79
           Poland                         2.37
           Portugal                       3.23
           Russia                         1.53
           Saudi Arabia                   3.20
           Singapore                      3.27
           South Africa                   1.77
           South Korea                    3.59
           Spain                          3.76
           Sri Lanka                      2.43
           Sweden                         5.23
           Switzerland                    6.44
           Taiwan                         2.08
           Thailand                       3.09
           Turkey                         3.41
           UAE                            3.54
           Ukraine                        1.54
           United States                  4.93
           Uruguay                        3.74
           Venezuela                      0.66
           Vietnam                        2.67

[652 rows x 1 columns]

In [15]:
bigmac.sort_index(inplace=True)

In [18]:
bigmac.head()

                      Price in US Dollars
Date       Country
2010-01-01 Argentina                 1.84
           Australia                 3.98
           Brazil                    4.76
           Britain                   3.67
           Canada                    3.97

In [23]:
import pandas as pd
bigmac = pd.read_csv('bigmac.csv', parse_dates=['Date'], index_col=['Date', 'Country'])
bigmac.sort_index(inplace=True)

bigmac.head()

                      Price in US Dollars
Date       Country
2010-01-01 Argentina                 1.84
           Australia                 3.98
           Brazil                    4.76
           Britain                   3.67
           Canada                    3.97

In [29]:
# bigmac.index

In [30]:
# bigmac.index.get_level_values()

# .transpose method
import pandas as pd
bigmac = pd.read_csv('bigmac.csv', parse_dates=['Date'], index_col=['Date', 'Country'])
bigmac.sort_index(inplace=True)

bigmac.head()

In [43]:
import pandas as pd
bigmac = pd.read_csv('bigmac.csv', parse_dates=['Date'], index_col=['Date', 'Country'])
bigmac.sort_index(inplace=True)

bigmac.head()

                      Price in US Dollars
Date       Country
2010-01-01 Argentina                 1.84
           Australia                 3.98
           Brazil                    4.76
           Britain                   3.67
           Canada                    3.97

In [48]:
bigmac.loc[('2016-01-1', 'Taiwan')]

Price in US Dollars    2.08
Name: (2016-01-01 00:00:00, Taiwan), dtype: float64

In [32]:
bigmac.transpose()

Date                2010-01-01                                              \
Country              Argentina Australia Brazil Britain Canada Chile China
Price in US Dollars       1.84      3.98   4.76    3.67   3.97  3.18  1.83

Date                                                     ...    2016-01-01  \
Country             Colombia Costa Rica Czech Republic   ...   Switzerland
Price in US Dollars     3.91       3.52           3.71   ...          6.44

Date                                                                    \
Country             Taiwan Thailand Turkey   UAE Ukraine United States
Price in US Dollars   2.08     3.09   3.41  3.54    1.54          4.93

Date
Country             Uruguay Venezuela Vietnam
Price in US Dollars    3.74      0.66    2.67

[1 rows x 652 columns]

In [33]:
bigmac = bigmac.transpose()
bigmac.head()

Date                2010-01-01                                              \
Country              Argentina Australia Brazil Britain Canada Chile China
Price in US Dollars       1.84      3.98   4.76    3.67   3.97  3.18  1.83

Date                                                     ...    2016-01-01  \
Country             Colombia Costa Rica Czech Republic   ...   Switzerland
Price in US Dollars     3.91       3.52           3.71   ...          6.44

Date                                                                    \
Country             Taiwan Thailand Turkey   UAE Ukraine United States
Price in US Dollars   2.08     3.09   3.41  3.54    1.54          4.93

Date
Country             Uruguay Venezuela Vietnam
Price in US Dollars    3.74      0.66    2.67

[1 rows x 652 columns]

In [40]:
bigmac.loc['Price in US Dollars', ('2016-01-1', 'Taiwan')]

Date        Country
2016-01-01  Taiwan     2.08
Name: Price in US Dollars, dtype: float64

In [49]:
# the .stack method

In [56]:
world = pd.read_csv('worldstats.csv', index_col=['country', "year"])
world.head()

                  Population           GDP
country    year
Arab World 2015  392022276.0  2.530102e+12
           2014  384222592.0  2.873600e+12
           2013  376504253.0  2.846994e+12
           2012  368802611.0  2.773270e+12
           2011  361031820.0  2.497945e+12

In [59]:
world.stack()  # useful pivotting

country     year
Arab World  2015  Population    3.920223e+08
                  GDP           2.530102e+12
            2014  Population    3.842226e+08
                  GDP           2.873600e+12
            2013  Population    3.765043e+08
                  GDP           2.846994e+12
            2012  Population    3.688026e+08
                  GDP           2.773270e+12
            2011  Population    3.610318e+08
                  GDP           2.497945e+12
            2010  Population    3.531122e+08
                  GDP           2.103825e+12
            2009  Population    3.450542e+08
                  GDP           1.798878e+12
            2008  Population    3.368865e+08
                  GDP           2.081343e+12
            2007  Population    3.287666e+08
                  GDP           1.641666e+12
            2006  Population    3.209067e+08
                  GDP           1.404190e+12
            2005  Population    3.134309e+08
                  GDP           1.184735e+12
            2004  Population    3.063874e+08
                  GDP           9.639180e+11
            2003  Population    2.997320e+08
                  GDP           8.218702e+11
            2002  Population    2.934026e+08
                  GDP           7.279939e+11
            2001  Population    2.872918e+08
                  GDP           7.221506e+11
                                    ...
Zimbabwe    1974  Population    5.967861e+06
                  GDP           3.982161e+09
            1973  Population    5.768382e+06
                  GDP           3.309354e+09
            1972  Population    5.573312e+06
                  GDP           2.677729e+09
            1971  Population    5.385342e+06
                  GDP           2.178716e+09
            1970  Population    5.206311e+06
                  GDP           1.884206e+09
            1969  Population    5.036321e+06
                  GDP           1.747999e+09
            1968  Population    4.874113e+06
                  GDP           1.479600e+09
            1967  Population    4.718612e+06
                  GDP           1.397002e+09
            1966  Population    4.568320e+06
                  GDP           1.281750e+09
            1965  Population    4.422132e+06
                  GDP           1.311436e+09
            1964  Population    4.279561e+06
                  GDP           1.217138e+09
            1963  Population    4.140804e+06
                  GDP           1.159512e+09
            1962  Population    4.006262e+06
                  GDP           1.117602e+09
            1961  Population    3.876638e+06
                  GDP           1.096647e+09
            1960  Population    3.752390e+06
                  GDP           1.052990e+09
Length: 22422, dtype: float64

In [60]:
world.stack().to_frame(i)

                                       0
country    year
Arab World 2015 Population  3.920223e+08
                GDP         2.530102e+12
           2014 Population  3.842226e+08
                GDP         2.873600e+12
           2013 Population  3.765043e+08
                GDP         2.846994e+12
           2012 Population  3.688026e+08
                GDP         2.773270e+12
           2011 Population  3.610318e+08
                GDP         2.497945e+12
           2010 Population  3.531122e+08
                GDP         2.103825e+12
           2009 Population  3.450542e+08
                GDP         1.798878e+12
           2008 Population  3.368865e+08
                GDP         2.081343e+12
           2007 Population  3.287666e+08
                GDP         1.641666e+12
           2006 Population  3.209067e+08
                GDP         1.404190e+12
           2005 Population  3.134309e+08
                GDP         1.184735e+12
           2004 Population  3.063874e+08
                GDP         9.639180e+11
           2003 Population  2.997320e+08
                GDP         8.218702e+11
           2002 Population  2.934026e+08
                GDP         7.279939e+11
           2001 Population  2.872918e+08
                GDP         7.221506e+11
...                                  ...
Zimbabwe   1974 Population  5.967861e+06
                GDP         3.982161e+09
           1973 Population  5.768382e+06
                GDP         3.309354e+09
           1972 Population  5.573312e+06
                GDP         2.677729e+09
           1971 Population  5.385342e+06
                GDP         2.178716e+09
           1970 Population  5.206311e+06
                GDP         1.884206e+09
           1969 Population  5.036321e+06
                GDP         1.747999e+09
           1968 Population  4.874113e+06
                GDP         1.479600e+09
           1967 Population  4.718612e+06
                GDP         1.397002e+09
           1966 Population  4.568320e+06
                GDP         1.281750e+09
           1965 Population  4.422132e+06
                GDP         1.311436e+09
           1964 Population  4.279561e+06
                GDP         1.217138e+09
           1963 Population  4.140804e+06
                GDP         1.159512e+09
           1962 Population  4.006262e+06
                GDP         1.117602e+09
           1961 Population  3.876638e+06
                GDP         1.096647e+09
           1960 Population  3.752390e+06
                GDP         1.052990e+09

[22422 rows x 1 columns]

# unstack() method

In [62]:
world = pd.read_csv('worldstats.csv', index_col=['country', "year"])
world.head()

                  Population           GDP
country    year
Arab World 2015  392022276.0  2.530102e+12
           2014  384222592.0  2.873600e+12
           2013  376504253.0  2.846994e+12
           2012  368802611.0  2.773270e+12
           2011  361031820.0  2.497945e+12

In [64]:
s = world.stack()
s.head()

country     year
Arab World  2015  Population    3.920223e+08
                  GDP           2.530102e+12
            2014  Population    3.842226e+08
                  GDP           2.873600e+12
            2013  Population    3.765043e+08
dtype: float64

In [74]:
s.unstack()

                  Population           GDP
country     year
Afghanistan 1960   8994793.0  5.377778e+08
            1961   9164945.0  5.488889e+08
            1962   9343772.0  5.466667e+08
            1963   9531555.0  7.511112e+08
            1964   9728645.0  8.000000e+08
            1965   9935358.0  1.006667e+09
            1966  10148841.0  1.400000e+09
            1967  10368600.0  1.673333e+09
            1968  10599790.0  1.373333e+09
            1969  10849510.0  1.408889e+09
            1970  11121097.0  1.748887e+09
            1971  11412821.0  1.831109e+09
            1972  11716896.0  1.595555e+09
            1973  12022514.0  1.733333e+09
            1974  12315553.0  2.155555e+09
            1975  12582954.0  2.366667e+09
            1976  12831361.0  2.555556e+09
            1977  13056499.0  2.953333e+09
            1978  13222547.0  3.300000e+09
            1979  13283279.0  3.697940e+09
            1980  13211412.0  3.641723e+09
            1981  12996923.0  3.478788e+09
            2001  20531160.0  2.461666e+09
            2002  21487079.0  4.128818e+09
            2003  22507368.0  4.583649e+09
            2004  23499850.0  5.285462e+09
            2005  24399948.0  6.275076e+09
            2006  25183615.0  7.057598e+09
            2007  25877544.0  9.843842e+09
            2008  26528741.0  1.019053e+10
...                      ...           ...
Zimbabwe    1986   9198874.0  6.217524e+09
            1987   9535657.0  6.741215e+09
            1988   9866776.0  7.814784e+09
            1989  10184966.0  8.286323e+09
            1990  10484771.0  8.783817e+09
            1991  10763036.0  8.641482e+09
            1992  11019717.0  6.751472e+09
            1993  11256512.0  6.563813e+09
            1994  11476807.0  6.890675e+09
            1995  11683136.0  7.111271e+09
            1996  11877664.0  8.553147e+09
            1997  12059858.0  8.529572e+09
            1998  12226742.0  6.401968e+09
            1999  12374019.0  6.858013e+09
            2000  12499981.0  6.689958e+09
            2001  12603988.0  6.777385e+09
            2002  12691431.0  6.342116e+09
            2003  12774162.0  5.727592e+09
            2004  12867828.0  5.805598e+09
            2005  12984418.0  5.755215e+09
            2006  13127942.0  5.443896e+09
            2007  13297798.0  5.291950e+09
            2008  13495462.0  4.415703e+09
            2009  13720997.0  8.157077e+09
            2010  13973897.0  9.422161e+09
            2011  14255592.0  1.095623e+10
            2012  14565482.0  1.239272e+10
            2013  14898092.0  1.349023e+10
            2014  15245855.0  1.419691e+10
            2015  15602751.0  1.389294e+10

[11211 rows x 2 columns]

In [77]:
world = pd.read_csv('worldstats.csv', index_col=['country', "year"])
world.head()
s = world.stack()
s.head()

country     year
Arab World  2015  Population    3.920223e+08
                  GDP           2.530102e+12
            2014  Population    3.842226e+08
                  GDP           2.873600e+12
            2013  Population    3.765043e+08
dtype: float64

In [79]:
s.unstack(0).head()

country           Afghanistan  Albania       Algeria  Andorra  Angola  \
year
1960 Population  8.994793e+06      NaN  1.112489e+07      NaN     NaN
     GDP         5.377778e+08      NaN  2.723638e+09      NaN     NaN
1961 Population  9.164945e+06      NaN  1.140486e+07      NaN     NaN
     GDP         5.488889e+08      NaN  2.434767e+09      NaN     NaN
1962 Population  9.343772e+06      NaN  1.169015e+07      NaN     NaN

country          Antigua and Barbuda  Arab World   Argentina  Armenia  Aruba  \
year
1960 Population                  NaN         NaN         NaN      NaN    NaN
     GDP                         NaN         NaN         NaN      NaN    NaN
1961 Population                  NaN         NaN         NaN      NaN    NaN
     GDP                         NaN         NaN         NaN      NaN    NaN
1962 Population                  NaN         NaN  21287682.0      NaN    NaN

country              ...       Uzbekistan  Vanuatu  Venezuela, RB  Vietnam  \
year                 ...
1960 Population      ...              NaN      NaN   8.146845e+06      NaN
     GDP             ...              NaN      NaN   8.607600e+09      NaN
1961 Population      ...              NaN      NaN   8.461684e+06      NaN
     GDP             ...              NaN      NaN   8.923367e+09      NaN
1962 Population      ...              NaN      NaN   8.790590e+06      NaN

country          Virgin Islands (U.S.)  West Bank and Gaza         World  \
year
1960 Population                32000.0                 NaN  3.035056e+09
     GDP                    24200000.0                 NaN  1.364643e+12
1961 Population                34100.0                 NaN  3.076121e+09
     GDP                    25700000.0                 NaN  1.420440e+12
1962 Population                36300.0                 NaN  3.129064e+09

country          Yemen, Rep.        Zambia      Zimbabwe
year
1960 Population          NaN  3.049586e+06  3.752390e+06
     GDP                 NaN  6.987397e+08  1.052990e+09
1961 Population          NaN  3.142848e+06  3.876638e+06
     GDP                 NaN  6.823597e+08  1.096647e+09
1962 Population          NaN  3.240664e+06  4.006262e+06

[5 rows x 252 columns]

In [80]:
s.unstack('year').head()

year                            1960          1961          1962  \
country
Afghanistan Population  8.994793e+06  9.164945e+06  9.343772e+06
            GDP         5.377778e+08  5.488889e+08  5.466667e+08
Albania     Population           NaN           NaN           NaN
            GDP                  NaN           NaN           NaN
Algeria     Population  1.112489e+07  1.140486e+07  1.169015e+07

year                            1963          1964          1965  \
country
Afghanistan Population  9.531555e+06  9.728645e+06  9.935358e+06
            GDP         7.511112e+08  8.000000e+08  1.006667e+09
Albania     Population           NaN           NaN           NaN
            GDP                  NaN           NaN           NaN
Algeria     Population  1.198513e+07  1.229597e+07  1.262695e+07

year                            1966          1967          1968  \
country
Afghanistan Population  1.014884e+07  1.036860e+07  1.059979e+07
            GDP         1.400000e+09  1.673333e+09  1.373333e+09
Albania     Population           NaN           NaN           NaN
            GDP                  NaN           NaN           NaN
Algeria     Population  1.298027e+07  1.335420e+07  1.374438e+07

year                            1969      ...               2006  \
country                                   ...
Afghanistan Population  1.084951e+07      ...       2.518362e+07
            GDP         1.408889e+09      ...       7.057598e+09
Albania     Population           NaN      ...       2.992547e+06
            GDP                  NaN      ...       8.992642e+09
Algeria     Population  1.414444e+07      ...       3.374933e+07

year                            2007          2008          2009  \
country
Afghanistan Population  2.587754e+07  2.652874e+07  2.720729e+07
            GDP         9.843842e+09  1.019053e+10  1.248694e+10
Albania     Population  2.970017e+06  2.947314e+06  2.927519e+06
            GDP         1.070101e+10  1.288135e+10  1.204421e+10
Algeria     Population  3.426197e+07  3.481106e+07  3.540179e+07

year                            2010          2011          2012  \
country
Afghanistan Population  2.796221e+07  2.880917e+07  2.972680e+07
            GDP         1.593680e+10  1.793024e+10  2.053654e+10
Albania     Population  2.913021e+06  2.904780e+06  2.900247e+06
            GDP         1.192695e+10  1.289087e+10  1.231978e+10
Algeria     Population  3.603616e+07  3.671713e+07  3.743943e+07

year                            2013          2014          2015
country
Afghanistan Population  3.068250e+07  3.162751e+07  3.252656e+07
            GDP         2.004633e+10  2.005019e+10  1.919944e+10
Albania     Population  2.896652e+06  2.893654e+06  2.889167e+06
            GDP         1.278103e+10  1.327796e+10  1.145560e+10
Algeria     Population  3.818614e+07  3.893433e+07  3.966652e+07

[5 rows x 56 columns]

In [81]:
s.unstack(level=['year', 'country'])

year,2015,2014,2013,2012,2011,2010,2009,2008,2007,2006,...,1969,1968,1967,1966,1965,1964,1963,1962,1961,1960
country,Arab World,Arab World,Arab World,Arab World,Arab World,Arab World,Arab World,Arab World,Arab World,Arab World,...,Zimbabwe,Zimbabwe,Zimbabwe,Zimbabwe,Zimbabwe,Zimbabwe,Zimbabwe,Zimbabwe,Zimbabwe,Zimbabwe
Population,3.920223e+08,3.842226e+08,3.765043e+08,3.688026e+08,3.610318e+08,3.531122e+08,3.450542e+08,3.368865e+08,3.287666e+08,3.209067e+08,...,5.036321e+06,4.874113e+06,4.718612e+06,4.568320e+06,4.422132e+06,4.279561e+06,4.140804e+06,4.006262e+06,3.876638e+06,3.752390e+06
GDP,2.530102e+12,2.873600e+12,2.846994e+12,2.773270e+12,2.497945e+12,2.103825e+12,1.798878e+12,2.081343e+12,1.641666e+12,1.404190e+12,...,1.747999e+09,1.479600e+09,1.397002e+09,1.281750e+09,1.311436e+09,1.217138e+09,1.159512e+09,1.117602e+09,1.096647e+09,1.052990e+09

In [82]:
s.unstack('year')

year                                      1960          1961          1962  \
country
Afghanistan           Population  8.994793e+06  9.164945e+06  9.343772e+06
                      GDP         5.377778e+08  5.488889e+08  5.466667e+08
Albania               Population           NaN           NaN           NaN
                      GDP                  NaN           NaN           NaN
Algeria               Population  1.112489e+07  1.140486e+07  1.169015e+07
                      GDP         2.723638e+09  2.434767e+09  2.001461e+09
Andorra               Population           NaN           NaN           NaN
                      GDP                  NaN           NaN           NaN
Angola                Population           NaN           NaN           NaN
                      GDP                  NaN           NaN           NaN
Antigua and Barbuda   Population           NaN           NaN           NaN
                      GDP                  NaN           NaN           NaN
Arab World            Population           NaN           NaN           NaN
                      GDP                  NaN           NaN           NaN
Argentina             Population           NaN           NaN  2.128768e+07
                      GDP                  NaN           NaN  2.445060e+10
Armenia               Population           NaN           NaN           NaN
                      GDP                  NaN           NaN           NaN
Aruba                 Population           NaN           NaN           NaN
                      GDP                  NaN           NaN           NaN
Australia             Population  1.027648e+07  1.048300e+07  1.074200e+07
                      GDP         1.856759e+10  1.963938e+10  1.988353e+10
Austria               Population  7.047539e+06  7.086299e+06  7.129864e+06
                      GDP         6.592694e+09  7.311750e+09  7.756110e+09
Azerbaijan            Population           NaN           NaN           NaN
                      GDP                  NaN           NaN           NaN
Bahamas, The          Population  1.095260e+05  1.151080e+05  1.210830e+05
                      GDP         1.698023e+08  1.900962e+08  2.122528e+08
Bahrain               Population           NaN           NaN           NaN
                      GDP                  NaN           NaN           NaN
...                                        ...           ...           ...
United Arab Emirates  Population           NaN           NaN           NaN
                      GDP                  NaN           NaN           NaN
United Kingdom        Population  5.240000e+07  5.280000e+07  5.325000e+07
                      GDP         7.232805e+10  7.669436e+10  8.060194e+10
United States         Population  1.806710e+08  1.836910e+08  1.865380e+08
                      GDP         5.433000e+11  5.633000e+11  6.051000e+11
Upper middle income   Population  1.154592e+09  1.159145e+09  1.176093e+09
                      GDP         1.854612e+11  1.690732e+11  1.777957e+11
Uruguay               Population  2.538651e+06  2.571691e+06  2.603887e+06
                      GDP         1.242289e+09  1.547389e+09  1.710004e+09
Uzbekistan            Population           NaN           NaN           NaN
                      GDP                  NaN           NaN           NaN
Vanuatu               Population           NaN           NaN           NaN
                      GDP                  NaN           NaN           NaN
Venezuela, RB         Population  8.146845e+06  8.461684e+06  8.790590e+06
                      GDP         8.607600e+09  8.923367e+09  9.873398e+09
Vietnam               Population           NaN           NaN           NaN
                      GDP                  NaN           NaN           NaN
Virgin Islands (U.S.) Population  3.200000e+04  3.410000e+04  3.630000e+04
                      GDP         2.420000e+07  2.570000e+07  3.690000e+07
West Bank and Gaza    Population           NaN           NaN           NaN
                      GDP                  NaN           NaN           NaN
World                 Population  3.035056e+09  3.076121e+09  3.129064e+09
                      GDP         1.364643e+12  1.420440e+12  1.524573e+12
Yemen, Rep.           Population           NaN           NaN           NaN
                      GDP                  NaN           NaN           NaN
Zambia                Population  3.049586e+06  3.142848e+06  3.240664e+06
                      GDP         6.987397e+08  6.823597e+08  6.792797e+08
Zimbabwe              Population  3.752390e+06  3.876638e+06  4.006262e+06
                      GDP         1.052990e+09  1.096647e+09  1.117602e+09

year                                      1963          1964          1965  \
country
Afghanistan           Population  9.531555e+06  9.728645e+06  9.935358e+06
                      GDP         7.511112e+08  8.000000e+08  1.006667e+09
Albania               Population           NaN           NaN           NaN
                      GDP                  NaN           NaN           NaN
Algeria               Population  1.198513e+07  1.229597e+07  1.262695e+07
                      GDP         2.703004e+09  2.909340e+09  3.136284e+09
Andorra               Population           NaN           NaN           NaN
                      GDP                  NaN           NaN           NaN
Angola                Population           NaN           NaN           NaN
                      GDP                  NaN           NaN           NaN
Antigua and Barbuda   Population           NaN           NaN           NaN
                      GDP                  NaN           NaN           NaN
Arab World            Population           NaN           NaN           NaN
                      GDP                  NaN           NaN           NaN
Argentina             Population  2.162184e+07  2.195393e+07  2.228339e+07
                      GDP         1.827212e+10  2.560525e+10  2.834471e+10
Armenia               Population           NaN           NaN           NaN
                      GDP                  NaN           NaN           NaN
Aruba                 Population           NaN           NaN           NaN
                      GDP                  NaN           NaN           NaN
Australia             Population  1.095000e+07  1.116700e+07  1.138800e+07
                      GDP         2.149737e+10  2.375406e+10  2.592564e+10
Austria               Population  7.175811e+06  7.223801e+06  7.270889e+06
                      GDP         8.374175e+09  9.169984e+09  9.994071e+09
Azerbaijan            Population           NaN           NaN           NaN
                      GDP                  NaN           NaN           NaN
Bahamas, The          Population  1.273310e+05  1.336970e+05  1.400490e+05
                      GDP         2.377428e+08  2.666641e+08  3.003922e+08
Bahrain               Population           NaN           NaN           NaN
                      GDP                  NaN           NaN           NaN
...                                        ...           ...           ...
United Arab Emirates  Population           NaN           NaN           NaN
                      GDP                  NaN           NaN           NaN
United Kingdom        Population  5.365000e+07  5.400000e+07  5.434805e+07
                      GDP         8.544377e+10  9.338760e+10  1.005958e+11
United States         Population  1.892420e+08  1.918890e+08  1.943030e+08
                      GDP         6.386000e+11  6.858000e+11  7.437000e+11
Upper middle income   Population  1.204372e+09  1.232266e+09  1.261069e+09
                      GDP         1.955819e+11  2.144250e+11  2.397244e+11
Uruguay               Population  2.635128e+06  2.665387e+06  2.694535e+06
                      GDP         1.539682e+09  1.975702e+09  1.890769e+09
Uzbekistan            Population           NaN           NaN           NaN
                      GDP                  NaN           NaN           NaN
Vanuatu               Population           NaN           NaN           NaN
                      GDP                  NaN           NaN           NaN
Venezuela, RB         Population  9.130346e+06  9.476255e+06  9.824694e+06
                      GDP         1.066338e+10  9.113581e+09  9.602945e+09
Vietnam               Population           NaN           NaN           NaN
                      GDP                  NaN           NaN           NaN
Virgin Islands (U.S.) Population  3.870000e+04  4.130000e+04  4.400000e+04
                      GDP         4.140000e+07  5.380000e+07  6.650000e+07
West Bank and Gaza    Population           NaN           NaN           NaN
                      GDP                  NaN           NaN           NaN
World                 Population  3.193947e+09  3.259355e+09  3.326054e+09
                      GDP         1.638187e+12  1.799675e+12  1.959900e+12
Yemen, Rep.           Population           NaN           NaN           NaN
                      GDP                  NaN           NaN           NaN
Zambia                Population  3.342894e+06  3.449266e+06  3.559687e+06
                      GDP         7.043397e+08  8.226397e+08  1.061200e+09
Zimbabwe              Population  4.140804e+06  4.279561e+06  4.422132e+06
                      GDP         1.159512e+09  1.217138e+09  1.311436e+09

year                                      1966          1967          1968  \
country
Afghanistan           Population  1.014884e+07  1.036860e+07  1.059979e+07
                      GDP         1.400000e+09  1.673333e+09  1.373333e+09
Albania               Population           NaN           NaN           NaN
                      GDP                  NaN           NaN           NaN
Algeria               Population  1.298027e+07  1.335420e+07  1.374438e+07
                      GDP         3.039859e+09  3.370870e+09  3.852147e+09
Andorra               Population           NaN           NaN           NaN
                      GDP                  NaN           NaN           NaN
Angola                Population           NaN           NaN           NaN
                      GDP                  NaN           NaN           NaN
Antigua and Barbuda   Population           NaN           NaN           NaN
                      GDP                  NaN           NaN           NaN
Arab World            Population           NaN           NaN  1.155571e+08
                      GDP                  NaN           NaN  2.552596e+10
Argentina             Population  2.260875e+07  2.293220e+07  2.326127e+07
                      GDP         2.863047e+10  2.425667e+10  2.643686e+10
Armenia               Population           NaN           NaN           NaN
                      GDP                  NaN           NaN           NaN
Aruba                 Population           NaN           NaN           NaN
                      GDP                  NaN           NaN           NaN
Australia             Population  1.165100e+07  1.179900e+07  1.200900e+07
                      GDP         2.725053e+10  3.037854e+10  3.264195e+10
Austria               Population  7.322066e+06  7.376998e+06  7.415403e+06
                      GDP         1.088768e+10  1.157943e+10  1.244063e+10
Azerbaijan            Population           NaN           NaN           NaN
                      GDP                  NaN           NaN           NaN
Bahamas, The          Population  1.463640e+05  1.526070e+05  1.586290e+05
                      GDP         3.400000e+08  3.901961e+08  4.449020e+08
Bahrain               Population           NaN           NaN           NaN
                      GDP                  NaN           NaN           NaN
...                                        ...           ...           ...
United Arab Emirates  Population           NaN           NaN           NaN
                      GDP                  NaN           NaN           NaN
United Kingdom        Population  5.464850e+07  5.494360e+07  5.521170e+07
                      GDP         1.070907e+11  1.111854e+11  1.047027e+11
United States         Population  1.965600e+08  1.987120e+08  2.007060e+08
                      GDP         8.150000e+11  8.617000e+11  9.425000e+11
Upper middle income   Population  1.292755e+09  1.323615e+09  1.355381e+09
                      GDP         2.666625e+11  2.766866e+11  2.898954e+11
Uruguay               Population  2.722874e+06  2.750093e+06  2.774771e+06
                      GDP         1.809184e+09  1.597721e+09  1.593675e+09
Uzbekistan            Population           NaN           NaN           NaN
                      GDP                  NaN           NaN           NaN
Vanuatu               Population           NaN           NaN           NaN
                      GDP                  NaN           NaN           NaN
Venezuela, RB         Population  1.017514e+07  1.052805e+07  1.088200e+07
                      GDP         1.009657e+10  1.047278e+10  1.147091e+10
Vietnam               Population           NaN           NaN           NaN
                      GDP                  NaN           NaN           NaN
Virgin Islands (U.S.) Population  4.730000e+04  5.080000e+04  5.460000e+04
                      GDP         8.410000e+07  1.154000e+08  1.738000e+08
West Bank and Gaza    Population           NaN           NaN           NaN
                      GDP                  NaN           NaN           NaN
World                 Population  3.395866e+09  3.465297e+09  3.535512e+09
                      GDP         2.125397e+12  2.262923e+12  2.440549e+12
Yemen, Rep.           Population           NaN           NaN           NaN
                      GDP                  NaN           NaN           NaN
Zambia                Population  3.674088e+06  3.792864e+06  3.916928e+06
                      GDP         1.239000e+09  1.340639e+09  1.573739e+09
Zimbabwe              Population  4.568320e+06  4.718612e+06  4.874113e+06
                      GDP         1.281750e+09  1.397002e+09  1.479600e+09

year                                      1969      ...               2006  \
country                                             ...
Afghanistan           Population  1.084951e+07      ...       2.518362e+07
                      GDP         1.408889e+09      ...       7.057598e+09
Albania               Population           NaN      ...       2.992547e+06
                      GDP                  NaN      ...       8.992642e+09
Algeria               Population  1.414444e+07      ...       3.374933e+07
                      GDP         4.257253e+09      ...       1.170273e+11
Andorra               Population           NaN      ...       8.337300e+04
                      GDP                  NaN      ...       3.536452e+09
Angola                Population           NaN      ...       1.854147e+07
                      GDP                  NaN      ...       4.178948e+10
Antigua and Barbuda   Population           NaN      ...       8.346700e+04
                      GDP                  NaN      ...       1.135144e+09
Arab World            Population  1.188239e+08      ...       3.209067e+08
                      GDP         2.817577e+10      ...       1.404190e+12
Argentina             Population  2.360599e+07      ...       3.955875e+07
                      GDP         3.125628e+10      ...       2.626665e+11
Armenia               Population           NaN      ...       3.002161e+06
                      GDP                  NaN      ...       6.384452e+09
Aruba                 Population           NaN      ...       1.008300e+05
                      GDP                  NaN      ...       2.421475e+09
Australia             Population  1.226300e+07      ...       2.069790e+07
                      GDP         3.660656e+10      ...       7.468808e+11
Austria               Population  7.441055e+06      ...       8.268641e+06
                      GDP         1.358280e+10      ...       3.343094e+11
Azerbaijan            Population           NaN      ...       8.484550e+06
                      GDP                  NaN      ...       2.098302e+10
Bahamas, The          Population  1.642500e+05      ...       3.358010e+05
                      GDP         5.281373e+08      ...       7.965588e+09
Bahrain               Population           NaN      ...       9.408080e+05
                      GDP                  NaN      ...       1.850505e+10
...                                        ...      ...                ...
United Arab Emirates  Population           NaN      ...       5.171255e+06
                      GDP                  NaN      ...       2.221059e+11
United Kingdom        Population  5.544175e+07      ...       6.084682e+07
                      GDP         1.126769e+11      ...       2.588077e+12
United States         Population  2.026770e+08      ...       2.983799e+08
                      GDP         1.019900e+12      ...       1.385589e+13
Upper middle income   Population  1.388827e+09      ...       2.380136e+09
                      GDP         3.221882e+11      ...       8.620784e+12
Uruguay               Population  2.795044e+06      ...       3.331041e+06
                      GDP         2.004435e+09      ...       1.957946e+10
Uzbekistan            Population           NaN      ...       2.648825e+07
                      GDP                  NaN      ...       1.703090e+10
Vanuatu               Population           NaN      ...       2.146350e+05
                      GDP                  NaN      ...       4.393768e+08
Venezuela, RB         Population  1.123549e+07      ...       2.722123e+07
                      GDP         1.192757e+10      ...       1.834775e+11
Vietnam               Population           NaN      ...       8.331120e+07
                      GDP                  NaN      ...       6.637166e+10
Virgin Islands (U.S.) Population  5.860000e+04      ...                NaN
                      GDP         2.113000e+08      ...                NaN
West Bank and Gaza    Population           NaN      ...       3.406334e+06
                      GDP                  NaN      ...       4.910100e+09
World                 Population  3.609910e+09      ...       6.594722e+09
                      GDP         2.686747e+12      ...       5.107451e+13
Yemen, Rep.           Population           NaN      ...       2.109397e+07
                      GDP                  NaN      ...       1.908173e+10
Zambia                Population  4.047479e+06      ...       1.238151e+07
                      GDP         1.926399e+09      ...       1.275686e+10
Zimbabwe              Population  5.036321e+06      ...       1.312794e+07
                      GDP         1.747999e+09      ...       5.443896e+09

year                                      2007          2008          2009  \
country
Afghanistan           Population  2.587754e+07  2.652874e+07  2.720729e+07
                      GDP         9.843842e+09  1.019053e+10  1.248694e+10
Albania               Population  2.970017e+06  2.947314e+06  2.927519e+06
                      GDP         1.070101e+10  1.288135e+10  1.204421e+10
Algeria               Population  3.426197e+07  3.481106e+07  3.540179e+07
                      GDP         1.349771e+11  1.710007e+11  1.372110e+11
Andorra               Population  8.487800e+04  8.561600e+04  8.547400e+04
                      GDP         4.010785e+09  4.001349e+09  3.649863e+09
Angola                Population  1.918391e+07  1.984225e+07  2.052010e+07
                      GDP         6.044892e+10  8.417803e+10  7.549238e+10
Antigua and Barbuda   Population  8.439700e+04  8.535000e+04  8.630000e+04
                      GDP         1.289254e+09  1.347350e+09  1.206410e+09
Arab World            Population  3.287666e+08  3.368865e+08  3.450542e+08
                      GDP         1.641666e+12  2.081343e+12  1.798878e+12
Argentina             Population  3.996990e+07  4.038186e+07  4.079864e+07
                      GDP         3.293175e+11  4.037820e+11  3.766279e+11

In [83]:
s.unstack('year', fill_value=0)

year                                      1960          1961          1962  \
country
Afghanistan           Population  8.994793e+06  9.164945e+06  9.343772e+06
                      GDP         5.377778e+08  5.488889e+08  5.466667e+08
Albania               Population  0.000000e+00  0.000000e+00  0.000000e+00
                      GDP         0.000000e+00  0.000000e+00  0.000000e+00
Algeria               Population  1.112489e+07  1.140486e+07  1.169015e+07
                      GDP         2.723638e+09  2.434767e+09  2.001461e+09
Andorra               Population  0.000000e+00  0.000000e+00  0.000000e+00
                      GDP         0.000000e+00  0.000000e+00  0.000000e+00
Angola                Population  0.000000e+00  0.000000e+00  0.000000e+00
                      GDP         0.000000e+00  0.000000e+00  0.000000e+00
Antigua and Barbuda   Population  0.000000e+00  0.000000e+00  0.000000e+00
                      GDP         0.000000e+00  0.000000e+00  0.000000e+00
Arab World            Population  0.000000e+00  0.000000e+00  0.000000e+00
                      GDP         0.000000e+00  0.000000e+00  0.000000e+00
Argentina             Population  0.000000e+00  0.000000e+00  2.128768e+07
                      GDP         0.000000e+00  0.000000e+00  2.445060e+10
Armenia               Population  0.000000e+00  0.000000e+00  0.000000e+00
                      GDP         0.000000e+00  0.000000e+00  0.000000e+00
Aruba                 Population  0.000000e+00  0.000000e+00  0.000000e+00
                      GDP         0.000000e+00  0.000000e+00  0.000000e+00
Australia             Population  1.027648e+07  1.048300e+07  1.074200e+07
                      GDP         1.856759e+10  1.963938e+10  1.988353e+10
Austria               Population  7.047539e+06  7.086299e+06  7.129864e+06
                      GDP         6.592694e+09  7.311750e+09  7.756110e+09
Azerbaijan            Population  0.000000e+00  0.000000e+00  0.000000e+00
                      GDP         0.000000e+00  0.000000e+00  0.000000e+00
Bahamas, The          Population  1.095260e+05  1.151080e+05  1.210830e+05
                      GDP         1.698023e+08  1.900962e+08  2.122528e+08
Bahrain               Population  0.000000e+00  0.000000e+00  0.000000e+00
                      GDP         0.000000e+00  0.000000e+00  0.000000e+00
...                                        ...           ...           ...
United Arab Emirates  Population  0.000000e+00  0.000000e+00  0.000000e+00
                      GDP         0.000000e+00  0.000000e+00  0.000000e+00
United Kingdom        Population  5.240000e+07  5.280000e+07  5.325000e+07
                      GDP         7.232805e+10  7.669436e+10  8.060194e+10
United States         Population  1.806710e+08  1.836910e+08  1.865380e+08
                      GDP         5.433000e+11  5.633000e+11  6.051000e+11
Upper middle income   Population  1.154592e+09  1.159145e+09  1.176093e+09
                      GDP         1.854612e+11  1.690732e+11  1.777957e+11
Uruguay               Population  2.538651e+06  2.571691e+06  2.603887e+06
                      GDP         1.242289e+09  1.547389e+09  1.710004e+09
Uzbekistan            Population  0.000000e+00  0.000000e+00  0.000000e+00
                      GDP         0.000000e+00  0.000000e+00  0.000000e+00
Vanuatu               Population  0.000000e+00  0.000000e+00  0.000000e+00
                      GDP         0.000000e+00  0.000000e+00  0.000000e+00
Venezuela, RB         Population  8.146845e+06  8.461684e+06  8.790590e+06
                      GDP         8.607600e+09  8.923367e+09  9.873398e+09
Vietnam               Population  0.000000e+00  0.000000e+00  0.000000e+00
                      GDP         0.000000e+00  0.000000e+00  0.000000e+00
Virgin Islands (U.S.) Population  3.200000e+04  3.410000e+04  3.630000e+04
                      GDP         2.420000e+07  2.570000e+07  3.690000e+07
West Bank and Gaza    Population  0.000000e+00  0.000000e+00  0.000000e+00
                      GDP         0.000000e+00  0.000000e+00  0.000000e+00
World                 Population  3.035056e+09  3.076121e+09  3.129064e+09
                      GDP         1.364643e+12  1.420440e+12  1.524573e+12
Yemen, Rep.           Population  0.000000e+00  0.000000e+00  0.000000e+00
                      GDP         0.000000e+00  0.000000e+00  0.000000e+00
Zambia                Population  3.049586e+06  3.142848e+06  3.240664e+06
                      GDP         6.987397e+08  6.823597e+08  6.792797e+08
Zimbabwe              Population  3.752390e+06  3.876638e+06  4.006262e+06
                      GDP         1.052990e+09  1.096647e+09  1.117602e+09

year                                      1963          1964          1965  \
country
Afghanistan           Population  9.531555e+06  9.728645e+06  9.935358e+06
                      GDP         7.511112e+08  8.000000e+08  1.006667e+09
Albania               Population  0.000000e+00  0.000000e+00  0.000000e+00
                      GDP         0.000000e+00  0.000000e+00  0.000000e+00
Algeria               Population  1.198513e+07  1.229597e+07  1.262695e+07
                      GDP         2.703004e+09  2.909340e+09  3.136284e+09
Andorra               Population  0.000000e+00  0.000000e+00  0.000000e+00
                      GDP         0.000000e+00  0.000000e+00  0.000000e+00
Angola                Population  0.000000e+00  0.000000e+00  0.000000e+00
                      GDP         0.000000e+00  0.000000e+00  0.000000e+00
Antigua and Barbuda   Population  0.000000e+00  0.000000e+00  0.000000e+00
                      GDP         0.000000e+00  0.000000e+00  0.000000e+00
Arab World            Population  0.000000e+00  0.000000e+00  0.000000e+00
                      GDP         0.000000e+00  0.000000e+00  0.000000e+00
Argentina             Population  2.162184e+07  2.195393e+07  2.228339e+07
                      GDP         1.827212e+10  2.560525e+10  2.834471e+10
Armenia               Population  0.000000e+00  0.000000e+00  0.000000e+00
                      GDP         0.000000e+00  0.000000e+00  0.000000e+00
Aruba                 Population  0.000000e+00  0.000000e+00  0.000000e+00
                      GDP         0.000000e+00  0.000000e+00  0.000000e+00
Australia             Population  1.095000e+07  1.116700e+07  1.138800e+07
                      GDP         2.149737e+10  2.375406e+10  2.592564e+10
Austria               Population  7.175811e+06  7.223801e+06  7.270889e+06
                      GDP         8.374175e+09  9.169984e+09  9.994071e+09
Azerbaijan            Population  0.000000e+00  0.000000e+00  0.000000e+00
                      GDP         0.000000e+00  0.000000e+00  0.000000e+00
Bahamas, The          Population  1.273310e+05  1.336970e+05  1.400490e+05
                      GDP         2.377428e+08  2.666641e+08  3.003922e+08
Bahrain               Population  0.000000e+00  0.000000e+00  0.000000e+00
                      GDP         0.000000e+00  0.000000e+00  0.000000e+00
...                                        ...           ...           ...
United Arab Emirates  Population  0.000000e+00  0.000000e+00  0.000000e+00
                      GDP         0.000000e+00  0.000000e+00  0.000000e+00
United Kingdom        Population  5.365000e+07  5.400000e+07  5.434805e+07
                      GDP         8.544377e+10  9.338760e+10  1.005958e+11
United States         Population  1.892420e+08  1.918890e+08  1.943030e+08
                      GDP         6.386000e+11  6.858000e+11  7.437000e+11
Upper middle income   Population  1.204372e+09  1.232266e+09  1.261069e+09
                      GDP         1.955819e+11  2.144250e+11  2.397244e+11
Uruguay               Population  2.635128e+06  2.665387e+06  2.694535e+06
                      GDP         1.539682e+09  1.975702e+09  1.890769e+09
Uzbekistan            Population  0.000000e+00  0.000000e+00  0.000000e+00
                      GDP         0.000000e+00  0.000000e+00  0.000000e+00
Vanuatu               Population  0.000000e+00  0.000000e+00  0.000000e+00
                      GDP         0.000000e+00  0.000000e+00  0.000000e+00
Venezuela, RB         Population  9.130346e+06  9.476255e+06  9.824694e+06
                      GDP         1.066338e+10  9.113581e+09  9.602945e+09
Vietnam               Population  0.000000e+00  0.000000e+00  0.000000e+00
                      GDP         0.000000e+00  0.000000e+00  0.000000e+00
Virgin Islands (U.S.) Population  3.870000e+04  4.130000e+04  4.400000e+04
                      GDP         4.140000e+07  5.380000e+07  6.650000e+07
West Bank and Gaza    Population  0.000000e+00  0.000000e+00  0.000000e+00
                      GDP         0.000000e+00  0.000000e+00  0.000000e+00
World                 Population  3.193947e+09  3.259355e+09  3.326054e+09
                      GDP         1.638187e+12  1.799675e+12  1.959900e+12
Yemen, Rep.           Population  0.000000e+00  0.000000e+00  0.000000e+00
                      GDP         0.000000e+00  0.000000e+00  0.000000e+00
Zambia                Population  3.342894e+06  3.449266e+06  3.559687e+06
                      GDP         7.043397e+08  8.226397e+08  1.061200e+09
Zimbabwe              Population  4.140804e+06  4.279561e+06  4.422132e+06
                      GDP         1.159512e+09  1.217138e+09  1.311436e+09

year                                      1966          1967          1968  \
country
Afghanistan           Population  1.014884e+07  1.036860e+07  1.059979e+07
                      GDP         1.400000e+09  1.673333e+09  1.373333e+09
Albania               Population  0.000000e+00  0.000000e+00  0.000000e+00
                      GDP         0.000000e+00  0.000000e+00  0.000000e+00
Algeria               Population  1.298027e+07  1.335420e+07  1.374438e+07
                      GDP         3.039859e+09  3.370870e+09  3.852147e+09
Andorra               Population  0.000000e+00  0.000000e+00  0.000000e+00
                      GDP         0.000000e+00  0.000000e+00  0.000000e+00
Angola                Population  0.000000e+00  0.000000e+00  0.000000e+00
                      GDP         0.000000e+00  0.000000e+00  0.000000e+00
Antigua and Barbuda   Population  0.000000e+00  0.000000e+00  0.000000e+00
                      GDP         0.000000e+00  0.000000e+00  0.000000e+00
Arab World            Population  0.000000e+00  0.000000e+00  1.155571e+08
                      GDP         0.000000e+00  0.000000e+00  2.552596e+10
Argentina             Population  2.260875e+07  2.293220e+07  2.326127e+07
                      GDP         2.863047e+10  2.425667e+10  2.643686e+10
Armenia               Population  0.000000e+00  0.000000e+00  0.000000e+00
                      GDP         0.000000e+00  0.000000e+00  0.000000e+00
Aruba                 Population  0.000000e+00  0.000000e+00  0.000000e+00
                      GDP         0.000000e+00  0.000000e+00  0.000000e+00
Australia             Population  1.165100e+07  1.179900e+07  1.200900e+07
                      GDP         2.725053e+10  3.037854e+10  3.264195e+10
Austria               Population  7.322066e+06  7.376998e+06  7.415403e+06
                      GDP         1.088768e+10  1.157943e+10  1.244063e+10
Azerbaijan            Population  0.000000e+00  0.000000e+00  0.000000e+00
                      GDP         0.000000e+00  0.000000e+00  0.000000e+00
Bahamas, The          Population  1.463640e+05  1.526070e+05  1.586290e+05
                      GDP         3.400000e+08  3.901961e+08  4.449020e+08
Bahrain               Population  0.000000e+00  0.000000e+00  0.000000e+00
                      GDP         0.000000e+00  0.000000e+00  0.000000e+00
...                                        ...           ...           ...
United Arab Emirates  Population  0.000000e+00  0.000000e+00  0.000000e+00
                      GDP         0.000000e+00  0.000000e+00  0.000000e+00
United Kingdom        Population  5.464850e+07  5.494360e+07  5.521170e+07
                      GDP         1.070907e+11  1.111854e+11  1.047027e+11
United States         Population  1.965600e+08  1.987120e+08  2.007060e+08
                      GDP         8.150000e+11  8.617000e+11  9.425000e+11
Upper middle income   Population  1.292755e+09  1.323615e+09  1.355381e+09
                      GDP         2.666625e+11  2.766866e+11  2.898954e+11
Uruguay               Population  2.722874e+06  2.750093e+06  2.774771e+06
                      GDP         1.809184e+09  1.597721e+09  1.593675e+09
Uzbekistan            Population  0.000000e+00  0.000000e+00  0.000000e+00
                      GDP         0.000000e+00  0.000000e+00  0.000000e+00
Vanuatu               Population  0.000000e+00  0.000000e+00  0.000000e+00
                      GDP         0.000000e+00  0.000000e+00  0.000000e+00
Venezuela, RB         Population  1.017514e+07  1.052805e+07  1.088200e+07
                      GDP         1.009657e+10  1.047278e+10  1.147091e+10
Vietnam               Population  0.000000e+00  0.000000e+00  0.000000e+00
                      GDP         0.000000e+00  0.000000e+00  0.000000e+00
Virgin Islands (U.S.) Population  4.730000e+04  5.080000e+04  5.460000e+04
                      GDP         8.410000e+07  1.154000e+08  1.738000e+08
West Bank and Gaza    Population  0.000000e+00  0.000000e+00  0.000000e+00
                      GDP         0.000000e+00  0.000000e+00  0.000000e+00
World                 Population  3.395866e+09  3.465297e+09  3.535512e+09
                      GDP         2.125397e+12  2.262923e+12  2.440549e+12
Yemen, Rep.           Population  0.000000e+00  0.000000e+00  0.000000e+00
                      GDP         0.000000e+00  0.000000e+00  0.000000e+00
Zambia                Population  3.674088e+06  3.792864e+06  3.916928e+06
                      GDP         1.239000e+09  1.340639e+09  1.573739e+09
Zimbabwe              Population  4.568320e+06  4.718612e+06  4.874113e+06
                      GDP         1.281750e+09  1.397002e+09  1.479600e+09

year                                      1969      ...               2006  \
country                                             ...
Afghanistan           Population  1.084951e+07      ...       2.518362e+07
                      GDP         1.408889e+09      ...       7.057598e+09
Albania               Population  0.000000e+00      ...       2.992547e+06
                      GDP         0.000000e+00      ...       8.992642e+09
Algeria               Population  1.414444e+07      ...       3.374933e+07
                      GDP         4.257253e+09      ...       1.170273e+11
Andorra               Population  0.000000e+00      ...       8.337300e+04
                      GDP         0.000000e+00      ...       3.536452e+09
Angola                Population  0.000000e+00      ...       1.854147e+07
                      GDP         0.000000e+00      ...       4.178948e+10
Antigua and Barbuda   Population  0.000000e+00      ...       8.346700e+04
                      GDP         0.000000e+00      ...       1.135144e+09
Arab World            Population  1.188239e+08      ...       3.209067e+08
                      GDP         2.817577e+10      ...       1.404190e+12
Argentina             Population  2.360599e+07      ...       3.955875e+07
                      GDP         3.125628e+10      ...       2.626665e+11
Armenia               Population  0.000000e+00      ...       3.002161e+06
                      GDP         0.000000e+00      ...       6.384452e+09
Aruba                 Population  0.000000e+00      ...       1.008300e+05
                      GDP         0.000000e+00      ...       2.421475e+09
Australia             Population  1.226300e+07      ...       2.069790e+07
                      GDP         3.660656e+10      ...       7.468808e+11
Austria               Population  7.441055e+06      ...       8.268641e+06
                      GDP         1.358280e+10      ...       3.343094e+11
Azerbaijan            Population  0.000000e+00      ...       8.484550e+06
                      GDP         0.000000e+00      ...       2.098302e+10
Bahamas, The          Population  1.642500e+05      ...       3.358010e+05
                      GDP         5.281373e+08      ...       7.965588e+09
Bahrain               Population  0.000000e+00      ...       9.408080e+05
                      GDP         0.000000e+00      ...       1.850505e+10
...                                        ...      ...                ...
United Arab Emirates  Population  0.000000e+00      ...       5.171255e+06
                      GDP         0.000000e+00      ...       2.221059e+11
United Kingdom        Population  5.544175e+07      ...       6.084682e+07
                      GDP         1.126769e+11      ...       2.588077e+12
United States         Population  2.026770e+08      ...       2.983799e+08
                      GDP         1.019900e+12      ...       1.385589e+13
Upper middle income   Population  1.388827e+09      ...       2.380136e+09
                      GDP         3.221882e+11      ...       8.620784e+12
Uruguay               Population  2.795044e+06      ...       3.331041e+06
                      GDP         2.004435e+09      ...       1.957946e+10
Uzbekistan            Population  0.000000e+00      ...       2.648825e+07
                      GDP         0.000000e+00      ...       1.703090e+10
Vanuatu               Population  0.000000e+00      ...       2.146350e+05
                      GDP         0.000000e+00      ...       4.393768e+08
Venezuela, RB         Population  1.123549e+07      ...       2.722123e+07
                      GDP         1.192757e+10      ...       1.834775e+11
Vietnam               Population  0.000000e+00      ...       8.331120e+07
                      GDP         0.000000e+00      ...       6.637166e+10
Virgin Islands (U.S.) Population  5.860000e+04      ...       0.000000e+00
                      GDP         2.113000e+08      ...       0.000000e+00
West Bank and Gaza    Population  0.000000e+00      ...       3.406334e+06
                      GDP         0.000000e+00      ...       4.910100e+09
World                 Population  3.609910e+09      ...       6.594722e+09
                      GDP         2.686747e+12      ...       5.107451e+13
Yemen, Rep.           Population  0.000000e+00      ...       2.109397e+07
                      GDP         0.000000e+00      ...       1.908173e+10
Zambia                Population  4.047479e+06      ...       1.238151e+07
                      GDP         1.926399e+09      ...       1.275686e+10
Zimbabwe              Population  5.036321e+06      ...       1.312794e+07
                      GDP         1.747999e+09      ...       5.443896e+09

year                                      2007          2008          2009  \
country
Afghanistan           Population  2.587754e+07  2.652874e+07  2.720729e+07
                      GDP         9.843842e+09  1.019053e+10  1.248694e+10
Albania               Population  2.970017e+06  2.947314e+06  2.927519e+06
                      GDP         1.070101e+10  1.288135e+10  1.204421e+10
Algeria               Population  3.426197e+07  3.481106e+07  3.540179e+07
                      GDP         1.349771e+11  1.710007e+11  1.372110e+11
Andorra               Population  8.487800e+04  8.561600e+04  8.547400e+04
                      GDP         4.010785e+09  4.001349e+09  3.649863e+09
Angola                Population  1.918391e+07  1.984225e+07  2.052010e+07
                      GDP         6.044892e+10  8.417803e+10  7.549238e+10
Antigua and Barbuda   Population  8.439700e+04  8.535000e+04  8.630000e+04
                      GDP         1.289254e+09  1.347350e+09  1.206410e+09
Arab World            Population  3.287666e+08  3.368865e+08  3.450542e+08
                      GDP         1.641666e+12  2.081343e+12  1.798878e+12
Argentina             Population  3.996990e+07  4.038186e+07  4.079864e+07
                      GDP         3.293175e+11  4.037820e+11  3.766279e+11

# pivote method

In [100]:
sales = pd.read_csv('salesmen.csv', parse_dates=['Date'])
sales['Salesman'] = sales['Salesman'].astype('category')
sales.head()

        Date Salesman  Revenue
0 2016-01-01      Bob     7172
1 2016-01-02      Bob     6362
2 2016-01-03      Bob     5982
3 2016-01-04      Bob     7917
4 2016-01-05      Bob     7837

In [97]:
sales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1830 entries, 0 to 1829
Data columns (total 3 columns):
Date        1830 non-null datetime64[ns]
Salesman    1830 non-null object
Revenue     1830 non-null int64
dtypes: datetime64[ns](1), int64(1), object(1)
memory usage: 43.0+ KB

In [112]:
sales.pivot(index='Date', columns='Salesman', values='Revenue')

Salesman     Bob  Dave   Jeb  Oscar  Ronald
Date
2016-01-01  7172  1864  4430   5250    2639
2016-01-02  6362  8278  8026   8661    4951
2016-01-03  5982  4226  5188   7075    2703
2016-01-04  7917  3868  3144   2524    4258
2016-01-05  7837  2287   938   2793    7771
2016-01-06  1744  7859  8702   7794    5930
2016-01-07   918  8597  4250   9728    1933
2016-01-08  9863  3092  9719   5263    5709
2016-01-09  8337  1794  5614   7144    4707
2016-01-10  7543  7105   301   7663    8267
2016-01-11  1053  6851  9489   8888    1340
2016-01-12  4362  7147  8719   3092     279
2016-01-13  6812  6160  2349   6139    7540
2016-01-14  9047  7533  7690   5235    4214
2016-01-15  3594  9883  6917   5507    5346
2016-01-16  9800  3622   474   4947    9636
2016-01-17  7215  4565  8963   3325    6058
2016-01-18  7744  8246  2351   2611    3602
2016-01-19  9560  9229  5512   1905     316
2016-01-20  9863  8358  9509   6005    9352
2016-01-21   547  4229  2453   2798    6781
2016-01-22  3505  4417  2875    879    5166
2016-01-23  6969   358  8853   4245    2479
2016-01-24   696  7817  6705   3798    4835
2016-01-25  4302  6354  2882   1143    9750
2016-01-26  9427  7544  1009    871    8738
2016-01-27  7990  2255  4020   2403    1768
2016-01-28  6271  3419  1735   3691    7264
2016-01-29  5804  1378  6477    418    8545
2016-01-30  3285  6456  2253   7776     658
...          ...   ...   ...    ...     ...
2016-12-02  5570  9842   982   5589    5956
2016-12-03  7910  4284  9363   6009    2252
2016-12-04  2869  8389  5980    537    1484
2016-12-05  4013  3089  8999   3895    2867
2016-12-06  1695  9142  4896   3060    5734
2016-12-07  1010  3707  4634    295    5409
2016-12-08  1149  3073  5930   5038    9951
2016-12-09  4432  6820  8592    258      96
2016-12-10   194  3938  3530   9392    8713
2016-12-11  7676  8805  1134    690    5843
2016-12-12  7290  3917  9004   5621    4524
2016-12-13  7253  9168  8031   3284    5193
2016-12-14  9777  2632  3162   2245    8161
2016-12-15  7933  2051  4408   3449    9557
2016-12-16  6742  1148  3020   1763    2318
2016-12-17  5641  8921  6126   1641    9042
2016-12-18  8445  9203  5843   1022    7979
2016-12-19  3065  4255  8136   3366    2734
2016-12-20  3864  7209  2082    364    5757
2016-12-21  4080  1335  5940   3579     359
2016-12-22  5294  6986  4389   6476     825
2016-12-23  5063  5507     9   6495    9210
2016-12-24  1731  5520  8230   9346    4114
2016-12-25  8325  4004  6569   8321    7490
2016-12-26  6664  3211  1572   6172    6170
2016-12-27  2045  2843  6666    835    2981
2016-12-28   100  8888  1243   3073    6129
2016-12-29  4115  9490  3498   6424    7662
2016-12-30  2577  3594  8858   7088    2570
2016-12-31  3845  6830  9717   8408    2619

[366 rows x 5 columns]

# pivot table

In [102]:
foods = pd.read_csv('foods.csv')
foods.head()

  First Name  Gender          City Frequency       Item  Spend
0      Wanda  Female      Stamford    Weekly     Burger  15.66
1       Eric    Male      Stamford     Daily    Chalupa  10.56
2    Charles    Male      New York     Never      Sushi  42.14
3       Anna  Female  Philadelphia      Once  Ice Cream  11.01
4    Deborah  Female  Philadelphia     Daily    Chalupa  23.49

In [108]:
foods.pivot_table(values='Spend', index='Gender', aggfunc='mean')

            Spend
Gender
Female  50.709629
Male    49.397623

In [109]:
foods.pivot_table(values='Spend', index='Gender', aggfunc='sum')

           Spend
Gender
Female  25963.33
Male    24106.04

In [110]:
foods.pivot_table(values='Spend', index='Item', aggfunc='sum')

             Spend
Item
Burger     7765.73
Burrito    8270.44
Chalupa    7644.52
Donut      8758.76
Ice Cream  8886.99
Sushi      8742.93

In [111]:
foods.pivot_table(values='Spend', index=['Gender', 'Item'], aggfunc='sum')

                    Spend
Gender Item
Female Burger     4094.30
       Burrito    4257.82
       Chalupa    4152.26
       Donut      4743.00
       Ice Cream  4032.87
       Sushi      4683.08
Male   Burger     3671.43
       Burrito    4012.62
       Chalupa    3492.26
       Donut      4015.76
       Ice Cream  4854.12
       Sushi      4059.85

In [113]:
foods.pivot_table(values='Spend', index=['Gender', 'Item'], columns='City', aggfunc='sum')

City              New York  Philadelphia  Stamford
Gender Item
Female Burger      1239.04       1639.24   1216.02
       Burrito      978.95       1458.76   1820.11
       Chalupa      876.58       1673.33   1602.35
       Donut       1446.78       1639.26   1656.96
       Ice Cream   1521.62       1479.22   1032.03
       Sushi       1480.29       1742.88   1459.91
Male   Burger      1294.09        938.18   1439.16
       Burrito     1399.40       1312.93   1300.29
       Chalupa     1227.77       1114.23   1150.26
       Donut       1345.27       1249.36   1421.13
       Ice Cream   1603.63       2191.27   1059.22
       Sushi       1396.15       1395.88   1267.82

In [117]:
foods.pivot_table(values='Spend', index=['Gender', 'Item'], columns=['Frequency', 'City'], aggfunc='sum')

Frequency           Daily                        Monthly               \
City             New York Philadelphia Stamford New York Philadelphia
Gender Item
Female Burger      262.67       231.68   144.66   171.86       215.05
       Burrito     224.45       321.57   195.63   122.74        34.28
       Chalupa      43.19        23.49    95.70   158.37       289.96
       Donut       478.10       247.40   124.35   284.53        50.25
       Ice Cream   262.19       177.69    92.88    92.53        74.51
       Sushi        81.07       348.53   393.27    93.16        78.71
Male   Burger      319.46       112.70   197.72   187.29       213.14
       Burrito     236.21       165.76   276.23   147.54        89.58
       Chalupa      54.09       274.81   192.64   333.76        90.70
       Donut       230.00       190.71   129.42   183.73       259.29
       Ice Cream   178.22       148.69    15.17   152.20       386.55
       Sushi       225.57       280.93      NaN   430.86       155.59

Frequency                    Never                          Often   ...     \
City             Stamford New York Philadelphia Stamford New York   ...
Gender Item                                                         ...
Female Burger      238.49    97.89       218.97    90.97    94.96   ...
       Burrito      67.94   189.73       382.30   366.34   103.60   ...
       Chalupa     161.98    35.15       121.97   156.36    39.73   ...
       Donut       229.30    56.07       433.58   157.33   130.63   ...
       Ice Cream   125.85   206.15       156.03    77.66   232.26   ...
       Sushi       108.39    69.33       190.58    19.56   343.94   ...
Male   Burger       27.16    90.32        17.31      NaN    55.47   ...
       Burrito     119.60    86.78       378.32   351.84   189.92   ...
       Chalupa     343.76   199.09       242.98   138.70   251.52   ...
       Donut       119.53   219.63        53.65   219.64   139.80   ...
       Ice Cream    74.36    57.54       321.94   119.77   347.55   ...
       Sushi        93.03   164.01       245.77   204.90     9.31   ...

Frequency            Once   Seldom                         Weekly  \
City             Stamford New York Philadelphia Stamford New York
Gender Item
Female Burger       95.05    63.16       409.05    97.53   184.35
       Burrito     168.01   167.54       198.11   234.49    39.69
       Chalupa      40.59   160.00       274.51   175.25   171.52
       Donut       158.24    90.81       183.25   104.66   285.56
       Ice Cream   279.33   242.35       203.10   117.73   227.62
       Sushi       194.75    87.70       314.24    27.82   410.89
Male   Burger      326.64   225.68       188.06   159.75    69.69
       Burrito      30.15   202.40        27.71     9.84   256.74
       Chalupa        NaN    11.69       130.75   174.02   163.20
       Donut       139.89    16.25        99.01   163.31    74.44
       Ice Cream   182.71   270.42       138.44    40.83   223.86
       Sushi       314.65   160.49        91.26   224.15   150.15

Frequency                                Yearly
City             Philadelphia Stamford New York Philadelphia Stamford
Gender Item
Female Burger           32.00   155.02   259.30       123.17   307.03
       Burrito          62.82   230.91    71.26       116.75   172.98
       Chalupa          84.41   204.69   157.82       504.44   348.16
       Donut           208.80   440.06    62.95       175.23   224.48
       Ice Cream       285.28   125.03   151.67       159.86    15.24
       Sushi           334.00   315.36   232.41       145.85   362.74
Male   Burger           99.89   310.21    49.61       197.36   225.07
       Burrito         289.25   161.85   220.70       118.51   262.64
       Chalupa         135.68    44.37   167.74        68.81   116.19
       Donut           115.80   311.27   143.10        44.61    16.52
       Ice Cream       221.24   239.42   159.70       239.94    96.32
       Sushi           260.33   338.16   119.44        33.80    48.71

[12 rows x 24 columns]